.resizable{
    resize: both;
    overflow: auto;
}
.floater {
    float: left;
    height:48px;
}
.floater > *:not(div){
    float: left;
    width:48px;
    padding-bottom:0px;
    height: 100%;padding-top: 0px;
    vertical-align: middle;
}